body {
    background-color: #1F85CD;
    color: #fff;
    font-family: Verdana;
    font-size: 62.5%;
}
.main {
    margin: 5px;
    overflow: hidden;
}
.logo {
    background-image: url(http://madserve.dev.bgmiracle.com/data/creative/grabo/img/grabo_newhdr_logo.png);
    background-position: 0px 0px;
    width: 101px;
    height: 32px;
    display: inline-block;
}
.content {
    padding-left: 20px;
    padding-top: 5px;
    display: inline-block;
    font-size: 1.4em;
}
